<html>

<body>
    <% if(username) {%>
        <p>Username: <%= username %></p>
        <form method="POST">
            <input type="submit" name="submitlogout" value="logout">
        </form>
    <% } else { %>
        <form method="POST">
            <input type="text" placeholder="login" name="username"> <br>
            <input type="submit" name="submitlogin">
        </form>
    <% } %>

</body>

</html>