<html>

<body>
    <p>To get info about particalar user, please insert his id</p>
    <form method="GET" action="/dictionary">
        <input type="text" name="phrase" placeholder="phrase">
        <input type="submit" placeholder="Submit">
    </form>

</body>

</html>