<html>

<body>
    <form method="GET" action="/print">
        <input type="text" name="firstname" placeholder="Imię"> <br>
        <input type="text" name="lastname" placeholder="Nazwisko"><br>
        <input type="text" name="classname" placeholder="Nazwa zajęć"><br>
        <input id="date" type="date" name="date"><br>

        <div><input type="number" min="0" max="9" id="zad1" name="zad1"><label for=" zad1">zad1<br></label></div>
        <div><input type="number" min="0" max="9" id="zad2" name="zad2"><label for=" zad2">zad2<br></label></div>
        <div><input type="number" min="0" max="9" id="zad3" name="zad3"><label for=" zad3">zad3<br></label></div>
        <div><input type="number" min="0" max="9" id="zad4" name="zad4"><label for=" zad4">zad4<br></label></div>
        <div><input type="number" min="0" max="9" id="zad5" name="zad5"><label for=" zad5">zad5<br></label></div>
        <div><input type="number" min="0" max="9" id="zad6" name="zad6"><label for=" zad6">zad6<br></label></div>
        <div><input type="number" min="0" max="9" id="zad7" name="zad7"><label for=" zad7">zad7<br></label></div>
        <div><input type="number" min="0" max="9" id="zad8" name="zad8"><label for=" zad8">zad8<br></label></div>
        <div><input type="number" min="0" max="9" id="zad9" name="zad9"><label for=" zad9">zad9<br></label></div>
        <div><input type="number" min="0" max="9" id="zad10" name="zad10"><label for=" zad10">zad10<br></label></div>
        <div><input type="number" min="0" max="9" id="zad11" name="zad11"><label for=" zad11">zad11<br></label></div>
        <div><input type="number" min="0" max="9" id="zad12" name="zad12"><label for=" zad12">zad12<br></label></div>
        <div><input type="number" min="0" max="9" id="zad13" name="zad13"><label for=" zad13">zad13<br></label></div>
        <div><input type="number" min="0" max="9" id="zad14" name="zad14"><label for=" zad14">zad14<br></label></div>
        <div><input type="number" min="0" max="9" id="zad15" name="zad15"><label for=" zad15">zad15<br></label></div>
        
        
        <input type="submit" value="Wyślij">

    </form>
</body>

</html>